---
import { Container, FeatureCard } from '@components/odyssey-theme';
import { Icon } from 'astro-icon/components';
import Layout from '../layouts/Page.astro';
import HomeHeroSection from '../components/sections/heros/HomeHeroSection.astro';
import {
	AnnouncementBar,
	Button,
	CustomerQuoteSection,
	ThreeColumnTextSection,
	YouTubeEmbedSection,
	StickyTextImageSection,
	CtaCardSection,
} from '@components/odyssey-theme';
---

<Layout>
	<HomeHeroSection />
  <CustomerQuoteSection
		quoteText="Welcome to Surf Coast Flying School, your premier destination for learning to fly on the beautiful Surf Coast of Victoria. Nestled in the picturesque town of Barwon Heads, our flying school offers unparalleled views and the perfect environment to start your aviation journey."
	/>
	<StickyTextImageSection>
		<div slot="text-container">
			<h2>RAAus Training</h2>
      <p>Surf Coast Flying School specialises exclusively in Recreational Aviation Australia (RAAUS) flying instruction. Our dedicated programs are designed to introduce you to the exhilarating world of recreational aviation, providing you with the skills and knowledge necessary to safely pilot light sport aircraft.</p>
		</div>
		<picture slot="image-container">
			<img
				src="/assets/images/landing-1/landing-sticky.jpg"
				alt="Astro Odyssey"
				loading="lazy"
			/>
		</picture>
	</StickyTextImageSection>

	<ThreeColumnTextSection>
		<div slot="column-1-body">
			<h3>Introductory Flight</h3>
			<p>
				Experience the thrill of flying with our introductory flight sessions. Perfect for those new to aviation, this is your chance to take to the skies with an instructor and get a taste of what flying is all about.
			</p>
		</div>
		<div slot="column-2-body">
			<h3>RAAus Pilot Certificate</h3>
			<p>
				Start your journey towards becoming a certified recreational pilot. Our comprehensive program covers all essential aspects of flying, from theory to hands-on flight training.
			</p>
		</div>
		<div slot="column-3-body">
			<h3>Flying Endorsements</h3>
			<p>
				For those looking to refine their skills, we offer flying endorsements including passenger rating, cross-country, retractable and more.
			</p>
		</div>
	</ThreeColumnTextSection>

	<CtaCardSection
		background="var(--theme-surface-2)"
		color="var(--theme-on-surface-2)"
	>
		<h2>Book Your Introductory Flight Today!</h2>
		<p>
		  Contact us to book your trial introductory flight or to learn more about our RAAUS training programs.
		</p>
		<Button href="/company/contact" customIcon
			>Contact Us <Fragment slot="icon">
				<Icon name="ic:baseline-chevron-right" />
			</Fragment></Button
		>
	</CtaCardSection>
</Layout>

<style>
	.feature-card__section {
		margin: var(--section-margin) auto;
	}
	.feature-card__grid {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		gap: var(--theme-grid-gap);
	}
	@media (max-width: 768px) {
		.feature-card__grid {
			grid-template-columns: 1fr;
		}
	}
</style>
